# Imports iniciais

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
plt.rcParams['figure.figsize']  = (16, 10)
plt.rcParams['axes.labelsize']  = 20
plt.rcParams['axes.titlesize']  = 20
plt.rcParams['legend.fontsize'] = 20
plt.rcParams['xtick.labelsize'] = 20
plt.rcParams['ytick.labelsize'] = 20
plt.rcParams['lines.linewidth'] = 4

In [ ]:
leagueoflegends = pd.read_csv('/content/drive/MyDrive/LolDatabase/LeagueofLegends.csv',header=0)

# Limpando dados

Nessa sessão são criadas colunas para as ligas de cada time e selecionadas as colunas que realmente serão usadas nas análises

In [ ]:
# vamos criar um dataframe com todos as tags de times e as ligas de cada um

leagueoflegendsL = leagueoflegends[leagueoflegends['League'] != 'WC']
leagueoflegendsL = leagueoflegendsL[leagueoflegendsL['League'] != 'MSI']
leagueoflegendsL = leagueoflegendsL[leagueoflegendsL['League'] != 'RR']
leagueoflegendsL = leagueoflegendsL[leagueoflegendsL['League'] != 'IEM']

leagueoflegendsL = leagueoflegendsL['League'].unique()
leagueoflegendsL # array com todas as ligas

timesLiga = pd.DataFrame() # dataframe que associa os times às suas ligas

times_to_liga = {}

for i in (leagueoflegendsL):
  timesR = leagueoflegends[leagueoflegends['League'] == i]['redTeamTag'].unique()
  timesB = leagueoflegends[leagueoflegends['League'] == i]['blueTeamTag'].unique()
  timesR = pd.Series(timesR)
  timesB = pd.Series(timesB)
  times = pd.concat([timesB,timesR])
  times = times.unique()
  for j in (times):
    times_to_liga[j] = i
    timesLiga = timesLiga.append(pd.Series([j,i]), ignore_index=True)
timesLiga = timesLiga.rename(columns={0:'time', 1:'liga'})

timesLiga = timesLiga.dropna()
timesLiga = timesLiga.drop_duplicates(subset=['time'])

timesLiga.loc[timesLiga['time'] == 'ROX', 'liga'] = 'LCK'
timesLiga.loc[timesLiga['time'] == 'FB', 'liga'] = 'TCL'

times_to_liga['ROX'] = 'LCK'
times_to_liga['FB'] = 'TCL'
times_to_liga['SSW'] = 'LCK'
times_to_liga['SHR'] = 'LPL'
times_to_liga['EDG'] = 'LPL'
times_to_liga['OMG'] = 'LPL'
times_to_liga['ALL'] = 'EULCS'
times_to_liga['LMQ'] = 'LPL'
times_to_liga['NWS'] = 'LCK'
times_to_liga['IG'] = 'LPL'
times_to_liga['BKT'] = 'LMS'
times_to_liga['LGD'] = 'LPL'
times_to_liga['RNG'] = 'LPL'
times_to_liga['GAM'] = 'LMS'
times_to_liga['WE'] = 'LPL'

In [ ]:
leagueoflegends['blueTeamLeague'] = leagueoflegends['League']
leagueoflegends['redTeamLeague'] = leagueoflegends['League']
leagueoflegends.head(n=1)

  League  Year  ... blueTeamLeague redTeamLeague
0  NALCS  2015  ...          NALCS         NALCS

[1 rows x 59 columns]

In [ ]:
redTeamLeagues = list()
blueTeamLeagues = list()
wcmatches = leagueoflegends.loc[leagueoflegends['League'] == 'WC']
for row in wcmatches.index:
  redLeague = times_to_liga[leagueoflegends.iloc[row]['redTeamTag']]
  blueLeague = times_to_liga[leagueoflegends.iloc[row]['blueTeamTag']]
  leagueoflegends.at[row, 'redTeamLeague'] = redLeague
  leagueoflegends.at[row, 'blueTeamLeague'] = blueLeague

In [ ]:
leagueoflegends.loc[leagueoflegends['League'] == 'WC'].head(n=1)

     League  Year  ... blueTeamLeague redTeamLeague
6391     WC  2014  ...            LPL           LCK

[1 rows x 59 columns]

In [ ]:
leagueoflegends.columns

Index(['League', 'Year', 'Season', 'Type', 'blueTeamTag', 'bResult', 'rResult',
       'redTeamTag', 'gamelength', 'golddiff', 'goldblue', 'bKills', 'bTowers',
       'bInhibs', 'bDragons', 'bBarons', 'bHeralds', 'goldred', 'rKills',
       'rTowers', 'rInhibs', 'rDragons', 'rBarons', 'rHeralds', 'blueTop',
       'blueTopChamp', 'goldblueTop', 'blueJungle', 'blueJungleChamp',
       'goldblueJungle', 'blueMiddle', 'blueMiddleChamp', 'goldblueMiddle',
       'blueADC', 'blueADCChamp', 'goldblueADC', 'blueSupport',
       'blueSupportChamp', 'goldblueSupport', 'blueBans', 'redTop',
       'redTopChamp', 'goldredTop', 'redJungle', 'redJungleChamp',
       'goldredJungle', 'redMiddle', 'redMiddleChamp', 'goldredMiddle',
       'redADC', 'redADCChamp', 'goldredADC', 'redSupport', 'redSupportChamp',
       'goldredSupport', 'redBans', 'Address', 'blueTeamLeague',
       'redTeamLeague'],
      dtype='object')

In [ ]:
useful_columns = ['League', 'Year', 'Season', 'Type', 'blueTeamLeague', 'blueTeamTag', 'bResult', 'rResult',
       'redTeamTag', 'redTeamLeague', 'gamelength', 'blueTop', 'blueTopChamp', 'blueJungle', 'blueJungleChamp',
       'blueMiddle', 'blueMiddleChamp', 'blueADC', 'blueADCChamp', 'blueSupport', 'blueSupportChamp', 'blueBans', 
       'redTop', 'redTopChamp', 'redJungle', 'redJungleChamp', 'redMiddle', 'redMiddleChamp', 'redADC', 
       'redADCChamp', 'redSupport', 'redSupportChamp','redBans']

useful_df = leagueoflegends[useful_columns]
useful_df.head()

  League  Year  ... redSupportChamp                             redBans
0  NALCS  2015  ...          Thresh  ['Tristana', 'Leblanc', 'Nidalee']
1  NALCS  2015  ...           Annie      ['RekSai', 'Janna', 'Leblanc']
2  NALCS  2015  ...           Janna        ['Leblanc', 'Zed', 'RekSai']
3  NALCS  2015  ...           Janna      ['RekSai', 'Rumble', 'LeeSin']
4  NALCS  2015  ...           Annie       ['Rumble', 'Sivir', 'Rengar']

[5 rows x 33 columns]

Essa célula exporta o primeiro dataframe que será usado na análise

In [ ]:
#useful_df.to_csv('Dataframe_Filtrado.csv', index=False)

# Criação de novo dataframe

Nessa seção é criado um dataframe que acreditamos ser importante para análise, ele contem a taxa de vitória e escolha de cada campeão

In [ ]:
Allchampions = list(leagueoflegends['blueTopChamp'].unique())
Allchampions += list(leagueoflegends['blueJungleChamp'].unique())
Allchampions += list(leagueoflegends['blueMiddleChamp'].unique())
Allchampions += list(leagueoflegends['blueADCChamp'].unique())
Allchampions += list(leagueoflegends['blueSupportChamp'].unique())
Allchampions += list(leagueoflegends['redTopChamp'].unique())
Allchampions += list(leagueoflegends['redJungleChamp'].unique())
Allchampions += list(leagueoflegends['redMiddleChamp'].unique())
Allchampions += list(leagueoflegends['redADCChamp'].unique())
Allchampions += list(leagueoflegends['redSupportChamp'].unique())
Allchampions = np.array(Allchampions)
Allchampions = np.unique(Allchampions)

In [ ]:
bChampLanes = ['blueTopChamp','blueJungleChamp','blueMiddleChamp','blueADCChamp','blueSupportChamp']
rChampLanes = ['redTopChamp','redJungleChamp','redMiddleChamp','redADCChamp','redSupportChamp']
blueWin = leagueoflegends[leagueoflegends['bResult'] == 1]
redWin = leagueoflegends[leagueoflegends['rResult'] == 1]
blueWin = blueWin[bChampLanes]
redWin = redWin[rChampLanes]
nMatches = leagueoflegends.shape[0]

WinRates = pd.DataFrame()
for champ in Allchampions:

  redchampionw = redWin.eq(champ).sum().sum()
  bluechampionw = blueWin.eq(champ).sum().sum()

  ChampRate = leagueoflegends.eq(champ).sum().sum()
  PickRate = ChampRate/nMatches

  champw = redchampionw + bluechampionw
  WinRates = WinRates.append(pd.Series([champ,champw/ChampRate,PickRate,ChampRate]), ignore_index=True)

WinRates = WinRates.rename(columns={0:'champ',1:'wr',2:'pr',3:'npick'})
WinRates = WinRates.set_index('champ')
WinRates = WinRates.sort_values(by='npick',ascending=0)

              wr        pr   npick
champ
Gragas  0.524462  0.335302  2555.0
RekSai  0.483262  0.305774  2330.0
Braum   0.483688  0.277559  2115.0
Elise   0.505569  0.270997  2065.0
Thresh  0.522621  0.252362  1923.0
Maokai  0.509677  0.244094  1860.0
Lucian  0.475679  0.232021  1768.0
Corki   0.488532  0.228871  1744.0
Sivir   0.524970  0.220735  1682.0
Karma   0.459574  0.215879  1645.0

Essa célula exporta o segundo dataframe que será usado na análise

In [ ]:
#WinRates.to_csv('Winrates.csv', index=True)